.main{
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    gap: 1rem;
 
}
.main::-webkit-scrollbar{
  display: none;
}
.container{
    display: flex;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.img{
    border-radius: 10px;
    height: 8rem;
    width: 10rem;
}
.box1{
    padding: 1rem;
    
}
.box2{
    padding: 1rem;
}